version: 2.1

commands:
  verify-install-container:
    steps:
      - run: /opt/solarwinds/uamsclient/sbin/uamsclient version
  verify-install-vm:
    steps:
      - run: ps -aux | grep "uamsclient start" | grep -v grep
  install-client:
    steps:
      - checkout
      - run: |
          if [ "$UID" == 0 ]; then
            env CHEF_LICENSE=accept-silent chef-client -z -o uams_client_installator
          else
            sudo env CHEF_LICENSE=accept-silent chef-client -z -o uams_client_installator
          fi
  install-chef-deps-deb:
    steps:
      - run: |
          if [ "$UID" == 0 ]; then
            apt update && apt -y install sudo curl
          else
            sudo apt update && sudo apt -y install sudo curl
          fi

  install-chef-deps-rpm:
    steps:
      - run: |
          if [ "$UID" == 0 ]; then
            yum -y install libxcrypt-compat sudo curl hostname
          else
            sudo yum -y install libxcrypt-compat sudo curl hostname
          fi

  install-chef:
    steps:
      - run: |
          if [ "$UID" == 0 ]; then
            curl -L https://omnitruck.chef.io/install.sh | bash
          else
            curl -L https://omnitruck.chef.io/install.sh | sudo bash
          fi



jobs:
  chef-lint:
    docker:
      - image: cimg/ruby:3.1.2
    steps:
      - checkout
      - run: gem install cookstyle
      - run: cookstyle cookbooks/uams_client_installator

  test-install-ubuntu-focal:
    docker:
      - image: ubuntu:focal
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container

  test-install-ubuntu-focal-vm:
    machine:
      image: ubuntu-2004:current
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-vm

  test-install-ubuntu-jammy:
    docker:
      - image: ubuntu:jammy
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container

  test-install-ubuntu-bionic:
    docker:
      - image: ubuntu:bionic
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container

  test-install-debian-stretch:
    docker:
      - image: debian:stretch
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container

  test-install-debian-buster:
    docker:
      - image: debian:buster
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container

  test-install-debian-bullseye:
    docker:
      - image: debian:bullseye
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container

  test-install-centos-7:
    docker:
      - image: centos:centos7
    steps:
      - install-chef-deps-rpm
      - install-chef
      - install-client
      - verify-install-container

  test-install-fedora-32:
    docker:
      - image: fedora:32
    steps:
      - install-chef-deps-rpm
      - install-chef
      - install-client
      - verify-install-container

  test-install-fedora-36:
    docker:
      - image: fedora:36
    steps:
      - install-chef-deps-rpm
      - install-chef
      - install-client
      - verify-install-container

  test-install-kali:
    docker:
      - image: kalilinux/kali-rolling
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container

  test-install-oracle-8:
    docker:
      - image: oraclelinux:8
    steps:
      - install-chef-deps-rpm
      - install-chef
      - install-client
      - verify-install-container

  test-install-oracle-9:
    docker:
      - image: oraclelinux:9
    steps:
      - install-chef-deps-rpm
      - install-chef
      - install-client
      - verify-install-container

workflows:
  test-uamsclient-role:
    jobs:
      - chef-lint
      - test-install-ubuntu-focal
      - test-install-ubuntu-focal-vm
      - test-install-ubuntu-jammy
      - test-install-ubuntu-bionic
      - test-install-debian-stretch
      - test-install-debian-buster
      - test-install-debian-bullseye
      - test-install-centos-7
      - test-install-fedora-32
      - test-install-fedora-36
      - test-install-kali
      - test-install-oracle-8
      - test-install-oracle-9
