version: 2.1

commands:
  verify-install-container:
    steps:
      - run: /opt/solarwinds/uamsclient/sbin/uamsclient version
  verify-install-vm:
    steps:
      - run: ps -aux | grep "uamsclient start" | grep -v grep
  verify-uninstall:
    steps:
      - run: if [ -d "/opt/solarwinds/uamsclient" ]; then exit 1; fi
  install-client:
    parameters:
      in_container:
        type: boolean
        default: true
    steps:
      - checkout
      - run: |
          if [[ "<< parameters.in_container >>" == true ]]; then
            ATTRIBUTES_OVERRIDE="./.circleci/test_data/test-attributes-in-container.json"
          else
            ATTRIBUTES_OVERRIDE="./.circleci/test_data/test-attributes.json"
          fi
          if [ "$UID" == 0 ]; then
            env CHEF_LICENSE=accept-silent chef-client -z -o uamsclient::uamsclient -j ${ATTRIBUTES_OVERRIDE}
          else
            sudo env CHEF_LICENSE=accept-silent chef-client -z -o uamsclient::uamsclient -j ${ATTRIBUTES_OVERRIDE}
          fi
  uninstall-client:
    parameters:
      in_container:
        type: boolean
        default: true
    steps:
      - run: |
          if [[ "<< parameters.in_container >>" == true ]]; then
            ATTRIBUTES_OVERRIDE="./.circleci/test_data/test-attributes-in-container.json"
          else
            ATTRIBUTES_OVERRIDE="./.circleci/test_data/test-attributes.json"
          fi
          if [ "$UID" == 0 ]; then
            env CHEF_LICENSE=accept-silent chef-client -z -o uamsclient_uninstall::uamsclient_uninstall -j ${ATTRIBUTES_OVERRIDE}
          else
            sudo env CHEF_LICENSE=accept-silent chef-client -z -o uamsclient_uninstall::uamsclient_uninstall -j ${ATTRIBUTES_OVERRIDE}
          fi
  install-chef-deps-deb:
    steps:
      - run: |
          if [ "$UID" == 0 ]; then
            apt update && apt -y install sudo curl
          else
            sudo apt update && sudo apt -y install sudo curl
          fi

  install-chef-deps-deb-stretch:
    steps:
      - run: |
          sed -i -e 's/deb.debian.org/archive.debian.org/g' -e 's|security.debian.org|archive.debian.org/|g' -e '/stretch-updates/d' /etc/apt/sources.list
          export LANG=C.UTF-8
          export LC_ALL=C.UTF-8
          apt update
          apt install python3-pip -y
          apt install curl -y
          pip3 install ansible

  install-chef-deps-rpm:
    steps:
      - run: |
          if [ "$UID" == 0 ]; then
            yum -y install sudo curl hostname
            yum -y install libxcrypt-compat || yum -y install libxcrypt || true
          else
            sudo yum -y install sudo curl hostname
            sudo yum -y install libxcrypt-compat || sudo yum -y install libxcrypt || true
          fi

  install-chef:
    steps:
      - run: |
          if [ "$UID" == 0 ]; then
            curl -L https://omnitruck.chef.io/install.sh | bash
          else
            curl -L https://omnitruck.chef.io/install.sh | sudo bash
          fi

  install-chef-fedora-32:
    steps:
      - run: |
          if [ "$UID" == 0 ]; then
            curl -L https://omnitruck.chef.io/install.sh | bash -s -- -version 17.10.3
          else
            curl -L https://omnitruck.chef.io/install.sh | sudo bash -s -- -v 17.10.3
          fi 

jobs:
  chef-lint:
    docker:
      - image: cimg/ruby:3.1.2
    steps:
      - checkout
      - run: gem install cookstyle
      - run: cookstyle cookbooks/uamsclient

  test-install-and-uninstall-ubuntu-focal:
    docker:
      - image: ubuntu:focal
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-ubuntu-focal-vm:
    machine:
      image: ubuntu-2004:current
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client:
          in_container: false
      - verify-install-vm
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-ubuntu-jammy:
    docker:
      - image: ubuntu:jammy
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-ubuntu-bionic:
    docker:
      - image: ubuntu:bionic
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-debian-stretch:
    docker:
      - image: debian:stretch
    steps:
      - install-chef-deps-deb-stretch
      - install-chef
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-debian-buster:
    docker:
      - image: debian:buster
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-debian-bullseye:
    docker:
      - image: debian:bullseye
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-centos-7:
    docker:
      - image: centos:centos7
    steps:
      - install-chef-deps-rpm
      - install-chef
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-fedora-32:
    docker:
      - image: fedora:32
    steps:
      - install-chef-deps-rpm
      - install-chef-fedora-32
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-fedora-36:
    docker:
      - image: fedora:36
    steps:
      - install-chef-deps-rpm
      - install-chef
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-kali:
    docker:
      - image: kalilinux/kali-last-release
    steps:
      - install-chef-deps-deb
      - install-chef
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-oracle-8:
    docker:
      - image: oraclelinux:8
    steps:
      - install-chef-deps-rpm
      - install-chef
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-oracle-9:
    docker:
      - image: oraclelinux:9
    steps:
      - install-chef-deps-rpm
      - install-chef
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

workflows:
  test-uamsclient-role:
    jobs:
      - chef-lint
      - test-install-and-uninstall-ubuntu-focal
      - test-install-and-uninstall-ubuntu-focal-vm
      - test-install-and-uninstall-ubuntu-jammy
      - test-install-and-uninstall-ubuntu-bionic
      - test-install-and-uninstall-debian-stretch
      - test-install-and-uninstall-debian-buster
      - test-install-and-uninstall-debian-bullseye
      - test-install-and-uninstall-centos-7
      - test-install-and-uninstall-fedora-32
      - test-install-and-uninstall-fedora-36
      - test-install-and-uninstall-kali
      - test-install-and-uninstall-oracle-8
      - test-install-and-uninstall-oracle-9
